.tagnamesContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 0.7rem;
}

.tagname {
    background-color: $main-color;
    padding: 0.4rem 0;
    border-radius: 10px;
    text-align: center;
    color: $white-color;
    font-size: 0.625rem;
    min-width: 84px;


    @media (width <=375px) {
        padding: 0.3rem 0;
        border-radius: 7px;
    }

    @media (width >=768px) {
        padding: 0.4rem 0;
        font-size: 0.75rem;
        min-width: 115px;
    }

    @media (width >=1024px) {
        font-size: 0.875rem;
    }

}