.carrousel {
    @include width-center-container;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 255px;
    position: relative;


    @media (width >=768px) {
        height: 330px;
    }

    @media (width >=1024px) {
        height: 415px;
    }
}

.caroussel-img {
    display: none;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;

    @media (width >=768px) {
        border-radius: 25px;
    }
}

.active {
    display: block;
}

/* Gestion des fleches du carrousel */
.arrow {
    position: absolute;
    cursor: pointer;

    @media (width >=768px) {
        width: 46px;
    }
}

.arrow_left {
    left: 10px;
}

.arrow_right {
    right: 10px;
}

.currentSlide {
    font-family: $font-montserrat-500;
    color: $white-color;
    position: absolute;
    bottom: 10px;
}