header {
    @include width-center-container;
    padding: 2rem 0;
    font-family: $font-montserrat-500;
    display: flex;
    justify-content: space-between;
    align-items: center;


    & img {
        width: 125px;

        @media (width >=768px) {
            width: 175px;
        }

        @media (width >=1024px) {
            width: 210px;
        }

    }
}

.navigation ul {
    display: flex;
    gap: 1rem;

    @media (width >=425px) {
        gap: 3rem;
    }

    @media (width >=768px) {
        gap: 3.75rem;
    }

    & li {
        list-style-type: none;
        font-size: 0.75rem;
        text-transform: uppercase;

        @media (width >=425px) {
            font-size: 0.9rem;
        }


        @media (width >=768px) {
            text-transform: none;
            font-size: 1.25rem;
        }

        @media (width >=1024px) {

            font-size: 1.5rem;
        }

    }
}

.nav-active {
    @include underline-navlink;
}

.nav-item:hover {
    @include underline-navlink;
}